<div id = 'text_wrapper'>
	<p id = 'text'>
	Мы, Научно-производственное предприятие «НОРМА», более 30-ти лет разрабатываем и выпускаем автоматизированные системы, 
	комплексы и многофункциональную аппаратуру для контроля и испытаний электрических параметров различной кабельной 
	продукции на стадии её производства и эксплуатации. 
	</p>
	<br />
	<p id = 'text'>
	Наше предприятие начало свою деятельность с разработки Систем Автоматизированного Контроля (САК) кабелей связи на этапе приёмо-сдаточных испытаний. САК зарекомендовали себя с положительной стороны в плане точности и отказоустойчивости измерительных узлов. 
	</p>
	<div class = 'central_field' style = 'width: 950px; height: 218px;'><img src = '/about_us/sak.jpg' /></div>
	<br />
	<p id = 'text'>
	В дальнейшем, на основе уже имеющихся технологий измерений и испытаний, были разработаны приборы узкого профиля, такие как Микроомметр мкОмМ-01м, Тераомметр ТОмМ-01, Цифровая Установка Высоковольтных Испытаний (ЦУВИ).
	</p>
	<div class = 'central_field' style = 'width: 950px; height: 229px;'><img src = '/about_us/mvt.jpg' /></div>
	<br />
	<p id = 'text'>
	С появлением на рынке телекоммуникационных услуг технологий семейства xDSL появилась необходимость в мобильных измерительных комплексах для анализа пригодности уже существующих линий связи. Разработанные нашим предприятием Портативные Измерительные Комплексы Автоматизированных Испытаний Кабелей Связи (ПИКА-ИКС) послужили эффективным инструментом в решении данной задачи, для операторов связи которые их приобрели.
	</p>
	<div class = 'central_field' style = 'width: 950px; height: 253px;'><img src = '/about_us/pi.jpg' /></div>
	<br />
	<p id = 'text'>
	Мы также имеем опыт в разработке индивидуальных решений для конкретных задач заказчика, примером является Автоматизированная Высоковольтная Установка АВУ4ССТ. АВУ4ССТ производит испытания на прочность нагревательных кабелей, используемых в производстве тёплых полов.  
	</p>
	<div class = 'central_field' style = 'width: 950px; height: 380px;'><img src = '/about_us/avu.jpg' /></div>
	<br />
	<br />
</div>